ul,li {
    list-style-type:none;
}

ul {
    padding:0;
    margin:0;
}

a {
    text-decoration:none;
}

body {
    /*line-height:1.5;*/
    margin:0;
}

i[class*=" icon-"],i[class^=icon-] {
    display:inline-block;
    line-height:1;
}

i[class^=icon-]::before {
    display:inline-block;
    text-decoration:none;
}

i[class^=icon-] {
    cursor:default;
    display:inline-block;
}

input[type=search] {
    -webkit-appearance:textfield;
    color:#4c4c4c;
    background:#fff;
    border:2px solid #9b9b9b;
    padding:6px 8px;
}

label {
    cursor:pointer;
}

/*li {
    padding:0;
}*/

.logo {
    position:relative;
    top:20px;
    float:left;
    margin-right:20px;
    /*z-index:2;
    width:170px;
    height:48px;
    background-size:219px auto;
    display:block;
    direction:ltr;
    text-indent:9999px;
    overflow:hidden;*/
}

.nav-main-item {
    display:inline-block;
    position:relative;
}

.nav-main-item>a {
    text-decoration:none;
}

.nav-main-item>a {
    display:inline-block;
    line-height:88px;
    padding:0 10px;
}

.nav-main-search {
    display:list-item;
    float:right;
    text-align:right;
    position:relative;
}

.search-wrap {
    right:0;
    width:0;
    overflow:hidden;
    padding-left:45px;
    line-height:88px;
    transition-property:width,opacity;
    transition-duration:.5s;
}

.search-trigger {
    left:15px;
    position:absolute;
    cursor:pointer;
    top:0;
}

.center {
    padding-left:24px;
    padding-right:24px;
    margin:0 auto;
    max-width:87.4375em;
}

.login>a {
    text-decoration:none;
    display:inline-block;
    line-height:88px;
    color:#fff;
    padding:0 20px;
}

.offscreen {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

.submenu-column {
    box-sizing:border-box;
    display:inline-block;
    vertical-align:text-top;
    padding-right:20px;
    width:250px;
}

.submenu-column a {
    padding:5px 0;
    margin-bottom:5px;
    display:block;
}

.submenu-column a:hover,#crumbs a:hover {
    text-decoration:underline;
}

.submenu, .submenu-column, .submenu.submenu-cols-2 {
    width:max-content;
}

.submenu {
    position:absolute;
    /*top:100%;
    left:0;*/
    padding:15px;
    border-top:5px solid #eee;
    box-shadow:0 4px 4px rgba(0,0,0,.15);
    background-color:#fff;
    /* display:none; */
}

.nav-main-item>a:hover {
    background:#eee;
}

.icon-search::before {
    content:"\b00011";
}

.search-trigger i[class^=icon-] {
    cursor:pointer;
}

#main-header {
    position:relative;
    /*padding-top:0;
    padding-bottom:0;
    z-index:1;
    clear:both;*/
    border:5px solid #83d0f2;
    border-width:5px 0 0;
    /*background-color:#fff;*/
    box-shadow:0 0 9px 0 rgba(0,0,0,.3);
}

/*#main-header>.center {
    clear:both;
}*/

#nav-sec {
    float:right;
    /*position:relative;
    right:-23px;
    z-index:3;*/
    background-color:#000;
}

#main-q {
    width:100%;
    margin:6px auto;
    /* padding-left:2.5em; */
}


/* ҳͷ */
#wiki-head {
    padding:30px 0;
    background-color:#f5f9fa;
}

#crumbs {
    padding:5px 0;
    float:left;
}

#crumbs ol {
    border:0;
    padding:0;
    margin:0;
}

#crumbs li {
    margin-right:10px;
}

#crumbs a {
    border:2px;
    line-height:1;
    padding:5px 0;
    display:block;
}

#web_document {
    display:none;
}

#document-actions {
    float:right;
    margin-bottom:20px;
}

.page-buttons {
    float:right;
    padding:5px 0;
    width:auto;
}

li.transparentLi,li.only-iconLi {
    bottom:2px;
}

.page-buttons>li{
    margin-left:10px;
    position:relative;
    display:inline-block;
    text-align:left;
}

.page-buttons .submenu {
    right:0;
    left:auto;
    border-top:5px solid #9b9b9b;
}

button,.button {
    display:inline-block;
    /* line-height:1; */
    letter-spacing:normal;
    border:2px solid #9b9b9b;
    background-color:#fff;
    padding:5px 11px;
    color:#4c4c4c;
    text-decoration:none;
}

button.transparent {
    background-color:transparent;
    border:0;
    padding-left:0;
    padding-right:0;
}

.button.neutral {
    border-color:#3f87a6;
    color:#29627e;
}

.only-icon span {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

.document-title {
    clear:both;
    position:relative;
}

h1 {
    font-family:x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}
